@model List<ChatApp.ViewModels.FriendRequestViewModel>

@{
    ViewData["Title"] = "Friend Requests";
}

<div class="d-flex align-items-center justify-content-between mt-4 mb-3">
    <h2>Friend Requests</h2>
    <a class="btn btn-primary btn-sm" asp-controller="Friend" asp-action="SentRequests">
        Sent Requests
    </a>
</div>

<ul class="list-group" id="requestsList">
    @if (Model.Any())
    {
        foreach (var request in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center" id="request-@request.SenderId">
                <div id="content-@request.SenderId" class="d-flex w-100 justify-content-between">
                    <span>@request.SenderFirstName @request.SenderLastName</span>
                    <div>
                        <button class="btn btn-blue btn-sm ms-2" onclick="handleResponse('@request.SenderId', 'Accept', 'text-success')">Accept</button>
                        <button class="btn btn-grey btn-sm ms-1" onclick="handleResponse('@request.SenderId', 'Reject', 'text-danger')">Reject</button>
                    </div>
                </div>
            </li>
        }
    }
</ul>

<p id="noRequestsMessage" style="display: @(Model.Any() ? "none" : "block");">No friend requests.</p>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <script>
        var friendConnection = new signalR.HubConnectionBuilder()
            .withUrl("/friendHub")
            .build();

        var notificationConnection = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub")
            .build();

        friendConnection.on("NewFriendRequest", function (senderId, firstname, lastname) {
            const counterElement = document.getElementById("friendRequestCounter");
            if (counterElement) {
                counterElement.style.display = "inline";
                counterElement.innerText = parseInt(counterElement.innerText) + 1;
            }
            document.getElementById("noRequestsMessage").style.display = "none";

            const requestsList = document.getElementById("requestsList");

            const li = document.createElement("li");
            li.className = "list-group-item d-flex justify-content-between align-items-center";
            li.id = `request-${senderId}`;
            li.innerHTML = `
                        <div id="content-${senderId}" class="d-flex w-100 justify-content-between">
                            <span>${firstname} ${lastname}</span>
                            <div>
                                <button class="btn btn-blue btn-sm ms-2" onclick="handleResponse('${senderId}', 'Accept', 'text-success')">Accept</button>
                                <button class="btn btn-grey btn-sm ms-1" onclick="handleResponse('${senderId}', 'Reject', 'text-danger')">Reject</button>
                            </div>
                        </div>
                    `;

            requestsList.appendChild(li);
        });

        friendConnection.start().then(function () {
        }).catch(function (err) {
            console.error(err.toString());
        });
        notificationConnection.start().then(function () {
        }).catch(function (err) {
            console.error(err.toString());
        });
        function handleResponse(requestId, action, textClass) {
            fetch(`/Friend/${action}FriendRequest`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `senderId=${requestId}`
            })
                .then(response => {
                    if (response.ok) {
                        const contentElement = document.getElementById(`content-${requestId}`);
                        contentElement.innerHTML = `
                                <span>${contentElement.querySelector('span').textContent}</span>
                                <span class="${textClass} ms-3">${action === 'Accept' ? 'Accepted' : 'Rejected'}</span>
                            `;
                        const counterElement = document.getElementById("friendRequestCounter");
                        if (counterElement) {
                            counterElement.innerText = parseInt(counterElement.innerText) - 1;
                            if(counterElement.innerText == 0)
                            {
                                counterElement.style.display = "none";
                            }
                        }
                        if (action === 'Accept') {
                            notificationConnection.invoke("AcceptFriendRequestNotification", requestId)
                                .catch(function (err) {
                                    
                                });
                        }
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
}
